.svg-light-orange { fill:#fabf5e; }
.svg-med-orange { fill:#FF9900; }
.svg-dark-orange { fill: #FE6800; }
.svg-orange-shadow { fill:#dc5914; }

.svg-light-blue { fill:#33d3f2; }
.svg-med-blue { fill:#0DB6E2; }
.svg-med-dark-blue { fill:#1396cc; }
.svg-dark-blue { fill:#0e8bbd; }
.svg-darker-blue {fill:#0d7eb6}
.svg-darkest-blue{fill:#0d72a5}

.svg-yellow { fill:#fff100; }
.svg-golden-yellow { fill:#ffda00; }

.svg-light-brown { fill:#f1cf95; }
.svg-skin-shadow{fill:#bfac85}
.svg-light-med-brown { fill:#e5bb8c; }
.svg-med-brown { fill:#c3996b; }
.svg-dark-med-brown { fill:#aa7d4b; }
.svg-dark-brown { fill:#8a5d3b; }
.svg-hair-brown{fill:#623a17}
.svg-black-brown { fill:#3f291b; }

.svg-white { fill:#fff; }
.svg-off-white { fill:#f1f1f2; }
.svg-light-gray { fill:#e6e7e8; }
.svg-med-gray { fill:#d0d2d3; }
.svg-med-dark-gray { fill:#bbbdbf; }
.svg-dark-gray { fill:#a6a8ab; }
.svg-darker-gray { fill:#808184; }

.svg-light-pink { fill:#e2037d; }
.svg-dark-pink { fill:#d41c53; }
.svg-red{fill:#a51838}

.svg-med-green{fill:#29ab3a}
.svg-dark-green{fill:#008c3b}




