.balance {
  background-color: #3f291b;
}
.rightLeaves {
  transform: translate(0,0);
  animation: sway-right 2s ease-out -1s infinite;
}

.leftLeaves {
  transform: translate(0,0);
  animation: sway-left 2s ease-out -2s infinite;
}

.hammock {
  transform: translate(0,0);
  animation: hammock-sway 3s ease-out -1s 5;
}

@keyframes sway-left {
  50% { transform: rotate(1deg) translate(0px, -5px); }
}
@keyframes sway-right {
  50% { transform: rotate(-1deg) translate(0px, 10px); }
}

@keyframes hammock-sway {
  50% { transform: rotateX(-15deg) translate(0px, 5px); }
}
